body {
    background-color: #FFA500; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
}

canvas {
    background-color: #F1F1F1; 
    border: 2px solid #d3d3d3;
    display: block;
    margin: 0 auto 20px auto;
}


.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.middle-row {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #888;
    border-radius: 4px;
    text-transform: uppercase;
}

button:active {
    background-color: #ddd;
}